<nav class="navbar navbar-expand-sm navbar-default">
  <button type="button" class="btn btn-outline-primary">
    <a routerLink="welcome" routerLinkActive="active" class="nav-link">Welcome</a>
  </button>

  <div ngbDropdown class="d-inline-block">
    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Owner</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem>
        <span class="glyphicon glyphicon-plus"></span>
        <a [routerLink]="['owners','owner-list']" routerLinkActive="active" class="nav-link">Search</a>
      </button>
      <button ngbDropdownItem>
        <span class="glyphicon glyphicon-plus"></span>
        <a [routerLink]="['owners','owner-add']" routerLinkActive="active" class="nav-link">New</a>
      </button>
    </div>
  </div>

  <button type="button" class="btn btn-outline-primary">
    <a routerLink="page-not-found" routerLinkActive="active" class="nav-link">ERROR</a>
  </button>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 text center">
        <img src="./assets/images/angular.png" alt="Angular" height="80" width="80" />
        <img src="./assets/images/spring-pivotal-logo.png" alt="Spring" height="60" width="200" />
      </div>
    </div>
  </div>
</footer>